*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
/*     justify-content: space-between; */
    margin: 0;
}
div{
    margin: 0;
    padding: 0 20vw;
}
.content{
    flex: 1;
    background-color: rgba(227, 197, 233, 0.877);
}
.footer{
    background-color: rgba(67, 14, 78, 0.877);;
    color: antiquewhite;
    margin-top: auto;
}
.footer a{
    color: antiquewhite;
}